html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
    margin: 0;
    padding: 0;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: gray;
}