html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.navigation {
    list-style-type: none;
    display: block;
    display: inline;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: gray;
}

li a {
    display: block;
    color: white;
    padding: .875rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.contact {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.social_links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}